# All files
[*]
guidelines = 80
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true

[*.{fs,fsi,fsx}]
indent_size = 2
max_line_length = 80
fsharp_space_before_parameter = true
fsharp_space_before_lowercase_invocation = true
fsharp_space_before_uppercase_invocation = true
fsharp_space_before_class_constructor = true
fsharp_space_before_member = true
