image: mcr.microsoft.com/dotnet/sdk:6.0

stages:
    - build
    - extra

build:
    stage: build
    before_script:
        - LATEST_COMMIT=$(git ls-remote https://gitlab-ci-token:${CI_JOB_TOKEN}@softsec.kaist.ac.kr:8000/B2R2/B2R2.git HEAD | awk '{print $1}')
        - CHANGES=$(git diff-tree --no-commit-id --name-only -r $LATEST_COMMIT -r $CI_COMMIT_SHA | grep .fs\$)
    script:
        - dotnet restore
        - dotnet tool restore
        - echo $CHANGES
        - for f in $CHANGES; do dotnet fsharplint lint $f; done
        - dotnet test
        - dotnet test -c Release
        - dotnet pack -p:PackageVersion=0.0.0-test -c Release -o `pwd`/build/
    artifacts:
        paths:
            - build/
        expire_in: 3 hrs
    tags:
        - b2r2

extra:
    stage: extra
    script:
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@softsec.kaist.ac.kr:8000/B2R2/ci-runner
        - dotnet run --project ci-runner/CIStarter -- $CI_URL $CI_COMMIT_SHA $CI_COMMIT_REF_NAME "$GITLAB_USER_NAME"
    dependencies:
        - build
    tags:
        - b2r2
