/* B2R2 - the Next-Generation Reversing Platform */

:root {
  --header-background: #020202;
  --header-text: white;
  --header-menu-hover: whitesmoke;
  --sidemenu-item: white;
  --sidemenu-filter: white;
  --sidemenu-function: white;
  --sidemenu-background: #020202;
  --sidemenu-hover: #282a36;
  --sidemenu-active: #282a36;
  --side-display-background: #282a36;
  --side-display-right-hbar: #020202;
  --function-filter-bottom-bar: white;
  --function-item-focused: #49b060;
  --primary-display-background: #282a36;
  --tab-background: #333333;
  --tab-active-background: #627290;
  --tab-border: black;
  --tab-text: white;
  --graph-background: #627290;
  --graph-border: black;
  --graph-node-fill: white;
  --graph-node-stroke: black;
  --graph-stmt-address: #99a0a0;
  --graph-stmt-mnemonic: #2cb174;
  --graph-stmt-string: #505050;
  --graph-stmt-variable: #4141f0;
  --graph-stmt-value: #3673ce;
  --graph-edge-interjmp-stroke: #ffb86c;
  --graph-edge-intercjmpfalse-stroke: #ff5555;
  --graph-edge-intercjmptrue-stroke: #50fa7b;
  --graph-edge-intrajmp-stroke: #ffb86c;
  --graph-edge-intracjmpfalse-stroke: #ff5555;
  --graph-edge-intracjmptrue-stroke: #50fa7b;
  --graph-edge-fallthrough-stroke: #bd93f9;
  --graph-edge-call-stroke: #99a0a0;
  --graph-edge-ret-stroke: #99a0a0;
  --minimap-icon: white;
  --minimap-icon-border: white;
  --minimap-background: #282a36;
  --minimap-border: white;
  --minimap-node-fill: black;
  --minimap-node-stroke: white;
  --minimap-edge-stroke: white;
  --minimap-viewbox-stroke: white;
  --hexview-segment-title-text: #f8f8f8;
  --hexview-segment-title-background: #282a36;
  --hexview-dump-text: #f8f8f8;
  --hexview-dump-background: #101010;
  --hexview-ascii-vbar: white;
  --hexview-highlight: #008000;
  --footer-background: #020202;
  --footer-text: white;
}

