#minimapDiv {
  margin-right: 10px;
  margin-bottom: 10px;
  right: 0;
  bottom: 0;
  position: absolute;
}

#minimapVP {
  cursor: move;
  stroke: black;
  stroke-opacity: 0.3;
  stroke-width: 0.1;
}

#funcSelector {
  height: 90vh;
  overflow: auto;
}

.glyphicon {
  padding-right: 5px;
}

.valign {
  vertical-align: middle;
}

.box {
  border: 1px solid #ccc;
}

body,html {
  overflow:hidden;
}

body {
  padding-top:60px;
}

.pre-xy-scrollable {
  overflow: auto;
  -ms-word-wrap: normal;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: pre;
  max-height: 340px;
}

.cfgNodeBlur:hover {
  fill: transparent;
  filter: url(#cfgBlur);
}

.nodeHighlight {
    fill: lightgoldenrodyellow;
}

.cfgJmpEdge {
  stroke: black;
}

.cfgJmpEdgeArrow { fill: black; }

.cfgJmpEdgeBlur:hover {
  filter: url(#cfgBlur);
  stroke: black;
}

.cfgCJmpFalseEdge {
  stroke: #bb0000;
}

.cfgCJmpFalseEdgeArrow { fill: #bb0000; }

.cfgCJmpFalseEdgeBlur:hover {
  filter: url(#cfgBlur);
  stroke: #bb0000;
}

.cfgCJmpTrueEdge {
  stroke: #009400;
}

.cfgCJmpTrueEdgeArrow { fill: #009400; }

.cfgCJmpTrueEdgeBlur:hover {
  filter: url(#cfgBlur);
  stroke: #009400;
}

.cfgDisasmComment {
  fill: #006400;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.wordHighlight {
  fill: red;
  font-weight: bold;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf'),
       url('/fonts/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Bold.ttf'),
       url('/fonts/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
