name: auto-assign milestone and labels

on:
  issues:
    types:
      - opened
      - transferred

permissions:
  issues: write
  repository-projects: write

jobs:
  apply-label:
    runs-on: ubuntu-latest
    steps:
      - name: Apply labels
        uses: actions/github-script@v7.0.1
        if: github.event.issue.labels == '[]'
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['needs-Triage']
            })
      - name: Apply milestones
        uses: actions/github-script@v7.0.1
        if: github.event_name == 'issues' && github.event.action == 'opened' && github.event.issue.milestone == null
        with:
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              milestone: 1
            })
