name: lint

on: push

jobs:
  linting:

    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Lint files
      run: |
        git clone --depth 1 https://github.com/B2R2-org/FSLint.git
        dotnet build FSLint
        dotnet run --project FSLint/src/FSLint -- src/
