name: publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Restore project
      run: dotnet restore
    - name: Build project
      run: dotnet build -c Release --no-restore
    - name: Pack
      run: dotnet pack -c Release --output .
    - name: Push
      env:
        TOKEN: ${{ secrets.NUGET_TOKEN }}
      run: |
        dotnet nuget push *.nupkg \
          --source "https://api.nuget.org/v3/index.json" \
          --api-key ${TOKEN} \
          --skip-duplicate
