name: push-notification
on: push
jobs:
    notify-push-main:
        runs-on: ubuntu-latest
        env:
            COMMIT: "${{ github.event.head_commit.message }}"
        steps:
        - name: Main Branch Push
          run: |
            echo "Workflow initiated by event with name: ${{ github.event_name }}"
            echo "Pushing commit to main: ${{ github.event.head_commit.id }}"
            echo "Pushed by: ${{ github.event.pusher.name }}"

        - uses: actions/checkout@v4

        - name: Setup .NET
          uses: actions/setup-dotnet@v4

        - name: Push Notification to Google Chat
          working-directory: .github
          run: |
            cat << EOF > msg.txt
            ${{ github.event.head_commit.message }}
            EOF
            dotnet fsi push.fsx "${{ secrets.WEBHOOK_URL }}" \
                                "${{ github.actor }}" \
                                "${{ github.head_ref || github.ref_name }}" \
                                "${{ github.event.head_commit.id }}" \
                                "${{ github.event.compare }}"
