/* B2R2 - the Next-Generation Reversing Platform */

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

tt {
  font-family: 'Inconsolata', monospace;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf'),
       url('/fonts/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Bold.ttf'),
       url('/fonts/Inconsolata-Bold.ttf');
  font-weight: bold;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

